@import "compass/reset", "compass/css3";

@import "components/mixins/all";

@import "components/variables", 
				"components/extended", 
				"components/mixins", 
				"components/font-awesome", 
				"components/font", 
				"components/type", 
				"components/visible", 
				"components/panel",
				"components/info-block",
				"components/table",
				"components/form",
				"components/img",
				"components/list",
				"components/breadcurm",
				"components/timeline",
				"components/data-tooltip",
				"components/tooltip",
				"components/tab",
				"components/tag",
				"components/pagination",
				"components/data-list",
				"components/arrow-tag",
				"components/sprites",
				"components/grid",
				"components/flex",
				"components/header"

@include paddingMargin(5 10 15 20);
@include sprites-icon;