// Framework grid generation
//
// Used only by Bootstrap to generate the correct number of grid classes given
// any value of `$grid-columns`.

@mixin make-grid-columns($columns: $grid-columns, $gutter: $gutter, $breakpoints: $grid-breakpoints) {
  // Common properties for all breakpoints
  %grid-column {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left: ($gutter / 2);
    padding-right: ($gutter / 2);
    float: left;
  }

  @each $breakpoint in map-keys($breakpoints) {
    @for $i from 1 through $columns {
      .col-#{$breakpoint}-#{$i} {
        @extend %grid-column;
      }
    }

    @include media-breakpoint($breakpoint) {
      @for $i from 1 through $columns {
        .col-#{$breakpoint}-#{$i} {
          @include make-col-span($i, $columns);
        }
      }
    }
  }
}

@mixin make-col-span($size, $columns: $grid-columns) {
  width: percentage($size / $columns);
}