.lazy {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
  
    &::after {
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: #f6f7f8;
      background: linear-gradient(to right, #f3f3f3 8%, #e0e0e0 18%, #f3f3f3 33%);
      background-size: 800px 104px;
      position: absolute;
      content: '';
      display: block;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
    }
  }
    
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0
    }
  
    100% {
      background-position: 468px 0
    }
  }
  
  .gridCol2 {
    .lazy {
      min-height: 200px;
    }
  }