/*------------------------------------------------ 
	//comments
------------------------------------------------*/
.document-value{
	.document-title{
		padding: ($gutter / 2);
	}

	.document-img{
		min-height: 200px;
	}

	.close-button{
		position: absolute;
		@include border-radius($borderRadius);
		padding: 5px 7px;
		color: $color-white;
		line-height: 1;
		right: 10px;
		bottom: 10px;
		background-color: $color-black;
		background-color: rgba($color-black, 0.5);

		&:hover{
			background-color: $color-black;
		}
	}
}