
@font-face {
    font-family: 'Rajdhani-Bold';
    src: url('https://static.lenskart.com/media/wysiwyg/futura-fonts/Rajdhani-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Rajdhani-Medium';
    src: url('https://static.lenskart.com/media/wysiwyg/futura-fonts/Rajdhani-Medium.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Rajdhani-Regular';
    src: url('https://static.lenskart.com/media/wysiwyg/futura-fonts/Rajdhani-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Rajdhani-SemiBold';
    src: url('https://static.lenskart.com/media/wysiwyg/futura-fonts/Rajdhani-SemiBold.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal
}